In [8]:
import psycopg2
import getpass

conn=psycopg2.connect(user='postgres',
              database='postgres',
              host='localhost',
              port='5432',
              password=getpass.getpass('Insert password: '))

Insert password: ········

In [9]:
print(conn.get_dsn_parameters())

{'user': 'postgres', 'dbname': 'postgres', 'host': 'localhost', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

In [10]:
import pandas as pd
cursor = conn.cursor()
cursor.execute('SELECT * FROM public.listing_task LIMIT 10')
for row in cursor:
    print(row)

(1067752, 'RU000A0JUCX1', 'Московская Биржа ', ' РПС')
(853537, 'RU000A0JRTS1', 'Московская Биржа ', ' Основной')
(1068784, 'RU000A0JUCX1', 'Московская Биржа ', ' РЕПО')
(1071049, 'RU000A0JUCX1', 'ЦБ России ', ' Рынок РЕПО с ЦБ РФ')
(1077325, 'RU000A0JUCX1', 'ЦБ России ', ' Ломбардный список')
(1099396, 'RU000A0JUCX1', 'НФА ', ' Ценовой центр')
(139182, 'RU000A0JQ6N0', 'Московская Биржа ', ' РПС')
(1064404, 'RU000A0JRTT9', 'Московская Биржа ', ' Основной')
(139236, 'RU000A0JQ6N0', 'Московская Биржа ', ' РЕПО')
(149079, 'RU000A0JQ6N0', 'Московская Биржа - РТС ', ' РТС Classica')

In [11]:
df = pd.read_sql("SELECT * FROM public.listing_task", conn)
df.head(10)

        ID          ISIN                 Platform              Section
0  1067752  RU000A0JUCX1        Московская Биржа                   РПС
1   853537  RU000A0JRTS1        Московская Биржа              Основной
2  1068784  RU000A0JUCX1        Московская Биржа                  РЕПО
3  1071049  RU000A0JUCX1               ЦБ России    Рынок РЕПО с ЦБ РФ
4  1077325  RU000A0JUCX1               ЦБ России     Ломбардный список
5  1099396  RU000A0JUCX1                     НФА         Ценовой центр
6   139182  RU000A0JQ6N0        Московская Биржа                   РПС
7  1064404  RU000A0JRTT9        Московская Биржа              Основной
8   139236  RU000A0JQ6N0        Московская Биржа                  РЕПО
9   149079  RU000A0JQ6N0  Московская Биржа - РТС          РТС Classica

In [13]:
df1 = pd.read_sql("SELECT * FROM public.bond_description", conn)
df1.head(10)

,"ISIN, RegCode, NRDCode",FinToolType,SecurityType,SecurityKind,CouponType,RateTypeNameRus_NRD,CouponTypeName_NRD,HaveOffer,AmortisedMty,MaturityGroup,...,CurrentFaceValue_NRD,BorrowerName,BorrowerOKPO,BorrowerSector,BorrowerUID,IssuerName,IssuerName_NRD,IssuerOKPO,NumGuarantors,EndMtyDate
0,XS1092320099,Облигация,ЕвроКорп,Классические,Постоянный,с фиксированной ставкой,Полугодовой,True,False,Среднесрочные,...,1000.0,4finance AS,NaN,None,95365,4finance S.A,4finance S.A.,NaN,9,2019-08-14
1,RU000A0JQ6N0,Облигация,Корп,Биржевые,Постоянный,None,None,True,True,Краткосрочные,...,NaN,Седьмой Континент,33649230.0,Ритейл,86896,Седьмой Континент,None,33649230.0,0,2010-12-17
2,RU000A0JPB17,Облигация,Корп,Классические,Переменный,None,None,True,False,Среднесрочные,...,NaN,Седьмой Континент,33649230.0,Ритейл,86896,Седьмой Континент,None,33649230.0,1,2012-06-14
3,RU000A0JNFW1,Облигация,Корп,Классические,Переменный,None,None,True,False,Среднесрочные,...,NaN,Золото Селигдара,76723557.0,Горнодобыча,88747,Золото Селигдара,None,76723557.0,1,2011-06-28
4,RU000A0JQVP5,Облигация,Корп,Классические,Переменный,None,None,True,False,Краткосрочные,...,NaN,Домо,98357828.0,Ритейл,92174,Домо,None,98357828.0,0,2013-05-16
5,XS1076087375,Облигация,ЕвроКорп,Ноты участия в кредите,Постоянный,с фиксированной ставкой,Ежегодный,False,False,Краткосрочные,...,1000.0,ABH Financial,NaN,None,87458,Alfa Holding Issuance,Alfa Holding Issuance plc,NaN,0,2017-06-10
6,XS0974469206,Облигация,ЕвроКорп,Ноты участия в кредите,Постоянный,с фиксированной ставкой,Полугодовой,False,False,Среднесрочные,...,1000.0,Borets International,NaN,None,94896,Borets Finance,Borets Finance Limited,NaN,5,2018-09-26
7,RU000A0GQZV0,Облигация,Корп,Классические,Переменный,с переменной ставкой,Квартальный,True,False,Краткосрочные,...,1000.0,Дикая Орхидея (мск),33673624.0,Лёгкая промышленность,79559,Дикая Орхидея (мск),ЗАО Дикая Орхидея,33673624.0,1,2009-04-09
8,RU000A0JP096,Облигация,Корп,Классические,Переменный,None,None,True,False,Среднесрочные,...,NaN,Золото Селигдара,76723557.0,Горнодобыча,88747,Золото Селигдара,None,76723557.0,1,2011-12-21
9,RU000A0JQ607,Облигация,Корп,Классические,Постоянный,с переменной ставкой,Полугодовой,True,False,Среднесрочные,...,NaN,Золото Селигдара,76723557.0,Горнодобыча,88747,Золото Селигдара,ОАО Золото Селигдара,76723557.0,1,2014-05-29

In [15]:
df2 = pd.read_sql("SELECT * FROM public.quotes_task", conn)
df2.head(10)

,ID,TIME,ACCRUEDINT,ASK,ASK_SIZE,ASK_SIZE_TOTAL,AVGE_PRCE,BID,BID_SIZE,BID_SIZE_TOTAL,...,ISSUESIZE,MAT_DATE,MPRICE,MPRICE2,SPREAD,VOL_ACC,Y2O_ASK,Y2O_BID,YIELD_ASK,YIELD_BID
0,97206,2011-12-21,74.384,0.00,None,0.0,NaN,0.00,None,0.0,...,500000.0,2011-12-21,0.0,None,0.00,0.0,NaN,NaN,NaN,NaN
1,97206,2011-12-20,73.973,0.00,None,0.0,NaN,0.00,None,0.0,...,500000.0,2011-12-21,0.0,None,0.00,0.0,NaN,NaN,NaN,NaN
2,97206,2011-12-19,72.740,0.00,None,0.0,NaN,0.00,None,0.0,...,500000.0,2011-12-21,0.0,None,0.00,0.0,NaN,NaN,NaN,NaN
3,97206,2011-12-16,72.329,0.00,None,0.0,NaN,0.00,None,0.0,...,500000.0,2011-12-21,0.0,None,0.00,0.0,NaN,NaN,NaN,NaN
4,97206,2011-12-15,71.918,0.00,None,0.0,NaN,0.00,None,0.0,...,500000.0,2011-12-21,0.0,None,0.00,0.0,NaN,NaN,NaN,NaN
5,97206,2011-12-14,71.507,0.00,None,0.0,NaN,0.00,None,0.0,...,500000.0,2011-12-21,0.0,None,0.00,0.0,NaN,NaN,NaN,NaN
6,97206,2011-12-13,71.096,0.00,None,0.0,NaN,0.00,None,0.0,...,500000.0,2011-12-21,0.0,None,0.00,0.0,NaN,NaN,NaN,NaN
7,97206,2011-12-12,69.863,109.99,None,5.0,NaN,99.10,None,100.0,...,500000.0,2011-12-21,0.0,None,10.89,0.0,NaN,NaN,NaN,NaN
8,97206,2011-12-09,69.452,119.00,None,5.0,NaN,99.07,None,50.0,...,500000.0,2011-12-21,0.0,None,19.93,0.0,NaN,NaN,NaN,NaN
9,97206,2011-12-08,69.041,119.00,None,5.0,NaN,99.08,None,55.0,...,500000.0,2011-12-21,0.0,None,19.92,0.0,NaN,NaN,NaN,NaN